.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
  
  
  @media (max-width: 991px) {
    .navbar-brand {
      margin-right: auto;
    }
    .navbar-nav {
      margin-top: 1rem;
    }
    .nav-link {
      margin-left: 0;
      margin-right: 1.5rem;
    }
  }
  